{% extends 'base.html' %}
{% block title %}
Добавить данные из Excel
{% endblock %}
{% block content %}
{% from '_formhelpers.html' import render_field %}
<div class="easy_to_read">
    <h1>Добавить данные из Excel</h1>
    <ol>
        <li>
            Скачайте <a href="{{ url_for('static', filename='help_data/bond_data.xlsx') }}">шаблон для загрузки</a>.
            Логика построена на создании таблицы или замены данных
        </li>
        <li>
            Загрузите шаблон в форму и увидите топ-10 фильмов
        </li>
        <li>
            Можете <a href="{{ url_for('get_data_from_table') }}">просмотреть и выкачать данные</a>
        </li>
    </ol>

    <p>
        Список фильмов взят из <a href="https://en.wikipedia.org/wiki/List_of_James_Bond_films">Wikipedia</a></p></div>
<p>
<h2>Загрузить данные из Excel в базу данных</h2>
</p>
<form method="POST" action="" enctype="multipart/form-data">
    <div class="mb-3 input-group">
        <input type="file" name="excel_to_upload" class="form-control" id="excel_to_uploadInput"
               value="{{request.form.excel_to_upload}}">
        <button type="submit" class="btn btn-outline-secondary">Загрузить</button>
    </div>
</form>

{% if data  %}
<h3>
    Top-10 фильмов
</h3>
<table class="table table-dark table-striped mb-3">
    <thead>
    <tr>
        <th>
            #
        </th>
        <th>
            Название
        </th>
        <th>
            Год
        </th>
        <th>
            Актер
        </th>
        <th>
            Режиссер
        </th>
        <th>
            Сборы
        </th>
        <th>
            Бюджет
        </th>
    </tr>
    </thead>
    <tbody>
    {% for movie in data %}
    <tr>

        <th>
            {{loop.index}}
        </th>
        <th>
            {{movie.title}}
        </th>
        <th>
            {{movie.year}}
        </th>
        <th>
            {{movie.bond_actor}}
        </th>
        <th>
            {{movie.director}}
        </th>
        <th>
            {{movie.actual_box_office}}
        </th>
        <th>
            {{movie.actual_budget}}
        </th>
    <tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}