{% extends 'base.html' %}
{% block title %}
Просмотр данных и выкачка их в Excel
{% endblock %}
{% block content %}
{% from '_formhelpers.html' import render_field %}

<h1>
    Сформировать отчет
</h1>
<p>
    Если оставить годы пустыми, выкачаются все данные
</p>
<form method="POST" action="">
    <div class="mb-3 mt-5 row">
        <div class="col">
            <p><b>Год начала</b></p>
            <input type="text" name="year_start" class="form-control" id="year_startInput"
                   value="{{request.form.year_start}}">
        </div>
        <div class="col">
            <p><b>Год конца</b></p>
            <input type="text" name="year_end" class="form-control" id="year_endInput"
                   value="{{request.form.year_end}}">
        </div>
    </div>
    <div class="btn-group mb-3">
        <button type="submit" name="submit_button" class="btn btn-dark" value="show">Показать</button>
        <button type="submit" name="submit_button" class="btn btn-primary" value="download">Скачать Excel</button>
    </div>
</form>
{% if data  %}
<h3>
    Список фильмов
</h3>
<table class="table table-dark table-striped mb-3">
    <thead>
    <tr>
        <th>
            #
        </th>
        <th>
            Название
        </th>
        <th>
            Год
        </th>
        <th>
            Актер
        </th>
        <th>
            Режиссер
        </th>
        <th>
            Сборы
        </th>
        <th>
            Бюджет
        </th>
    </tr>
    </thead>
    <tbody>
    {% for movie in data %}
    <tr>

        <th>
            {{loop.index}}
        </th>
        <th>
            {{movie.title}}
        </th>
        <th>
            {{movie.year}}
        </th>
        <th>
            {{movie.bond_actor}}
        </th>
        <th>
            {{movie.director}}
        </th>
        <th>
            {{movie.actual_box_office}}
        </th>
        <th>
            {{movie.actual_budget}}
        </th>
    <tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}