{% extends 'base.html' %}
{% block title %}
    Dashboard
{% endblock %}
{% block content %}
{% from '_formhelpers.html' import render_field %}
<p><a href="{{ url_for('static', filename='help_data/bond_data.xlsx') }}">Скачать Excel-шаблон с тестовыми данными</a><br>
Список фильмов взят из <a href="https://en.wikipedia.org/wiki/List_of_James_Bond_films">Wikipedia</a></p>
<p>
    Загрузить данные из Excel в базу данных
</p>
<form method="POST" action="" enctype="multipart/form-data">
  <div class="mb-3">
    <input type="file"  name="excel_to_upload" class="form-control" id="excel_to_uploadInput" value="{{request.form.excel_to_upload}}">
    <button type="submit" class="btn btn-primary">Загрузить</button>
  </div>
</form>

<p><a href="{{ url_for('list_users')}}">Список пользователей</a></p>
{% endblock %}