{% extends 'base.html' %}
{% block title %}
Шаблон для запуска скриптов и изменении небольшого кол-ва данных в БД
{% endblock %}
{% block content %}
<div class="easy_to_read">
    <h1>Главная страница</h1>
    <p>Я так и не придумал что поместить на главной странице</p>
    <p>Все находится в меню темной полоски сверху, справа от морды собачули.
        Собачулю зовут Аргус в честь первого описания собачей преданности в «Одиссее» Гомера</p>
    <h3>Отрывок из «Одиссеи» Гомера</h3>
    <p>...
        Уши и голову, слушая их, подняла тут собака
        <br>Аргус; она Одиссеева прежде была, и ее он
        <br>Выкормил сам; но на лов с ней ходить не успел, принужденный
        <br>Плыть в Илион. Молодые охотники часто на диких
        <br>Коз, на оленей, на зайцев с собою ее уводили.
        <br>Ныне ж, забытый (его господин был далеко), он, бедный
        <br>Аргус, лежал у ворот на навозе, который от многих
        <br>Мулов и многих коров на запас там копили, чтоб после
        <br>Им Одиссеевы были поля унавожены тучно;
    <p>
        Там полумертвый лежал неподвижно покинутый Аргус.
        <br>Но Одиссееву близость почувствовал он, шевельнулся,
        <br>Тронул хвостом и поджал в изъявление радости уши;
        <br>Близко ж подползть к господину и даже подняться он не был
        <br>В силах. И, вкось на него поглядевши, слезу, от Евмея
        <br>Скрытно, обтер Одиссей, и потом он сказал свинопасу:
        <br>"Странное дело, Евмей; там на куче навозной собаку
        <br>Вижу, прекрасной породы она, но сказать не умею,
        <br>Сила и легкость ее на бегу таковы ль, как наружность?
        <br>Или она лишь такая, каких у господ за столами
        <br>Часто мы видим: для роскоши держат их знатные люди".</p>
    <p>
        Так, отвечая, сказал ты, Евмей свинопас, Одиссею:
        <br>"Это собака погибшего в дальнем краю Одиссея;
        <br>Если б она и поныне была такова же, какою,
        <br>Плыть собираясь в троянскую землю, ее господин мой
        <br>Дома оставил, — ее быстроте и отважности верно б
        <br>Ты подивился; в лесу ни в каком захолустье укрыться
        <br>Дичь от нее не могла; в ней чутье несказанное было.
        <br>Ныне же бедная брошена; нет уж ее господина,
        <br>Вчуже погиб он; служанки ж о ней и подумать ленятся;</p>
    <p>
        Раб нерадив; не принудь господин повелением строгим
        <br>К делу его, за работу он сам не возьмется охотой:
        <br>Тягостный жребий печального рабства избрав человеку,
        <br>Лучшую доблестей в нем половину Зевес истребляет".
        <br>Кончил и, в двери светло-населенного дома вступивши,
        <br>Прямо вошел он в столовую, где женихи пировали.
        <br>В это мгновение Аргус, увидевший вдруг через двадцать
        <br>Лет Одиссея, был схвачен рукой смертоносною Мойры...</p>
</div>
{% endblock %}