{% extends 'base.html' %}
{% block title %}
    Регистрация
{% endblock %}
{% block content %}
{% from '_formhelpers.html' import render_field %}
<h1>Вход в аккаунт</h1>
<form method="POST" action="">
  <div class="mb-3">
    <p>Логин</p>
    <input type="text" name="username" class="form-control", id="usernameInput" value="{{request.form.username}}">
  </div>
  <div class="mb-3">
    <p>Пароль</p>
    <input type="password" name="password_candidate" class="form-control", id="passwordInput" value="{{request.form.password_candidate}}">
  </div>
  <button type="submit" class="btn btn-primary">Войти</button>
</form>
{% endblock %}