{% extends 'base.html' %}
{% block title %}
    Изменение персональных данных — {{ session.username }}
{% endblock %}
{% block content %}
{% from '_formhelpers.html' import render_field %}
<h1 class="mb-3">Изменение пароля — {{ session.username }}</h1>
<h3>Пароль</h3>
<form method="POST" action="" name="password_update">
    <div class="mb-3">
        {{render_field(password_change.old_password, class="form-control", id="usernameOldPassword")}}
    </div>
    <div class="mb-3">
        {{render_field(password_change.password, class="form-control", id="usernamePassword")}}
    </div>
    <div>
        {{render_field(password_change.confirm, class="form-control", id="usernamePasswordConfirm")}}
    </div>
    <div class="mb-3 no-label">
        {{render_field(password_change.submit, class="btn btn-primary", id="usernamePasswordSubmit")}}
    </div>
</form>
<p><a href="{{ url_for('personal_settings') }}">Изменить персональные данные</a></p>
{% endblock %}