{% extends 'base.html' %}
{% block title %}
    Сброс пароля для {{ user.username }}
{% endblock %}
{% block content %}
{% from '_formhelpers.html' import render_field %}
<h1 class="mb-3">Сброс пароля для {{user.username}}</h1>
<h3>Пароль</h3>
<form method="POST" action="" name="password_update">
    <div class="mb-3">
        {{render_field(pass_form.password, class="form-control", id="usernamePassword")}}
    </div>
    <div>
        {{render_field(pass_form.confirm, class="form-control", id="usernamePasswordConfirm")}}
    </div>
    <div class="mb-3 no-label">
        <button type="submit" class="btn btn-primary">Изменить пароль</button>
    </div>
</form>
{% endblock %}