{% extends 'base.html' %}
{% block title %}
    Пример данных из записи
{% endblock %}
{% block content %}
{% from '_formhelpers.html' import render_field %}
<h1>Все записи</h1>
<a href="{{ url_for('add_data_to_md') }}" class="btn btn-warning mt-2 mb-2">Добавить данные</a>
<table class="table table-stripped">
    <tr>
        <th>
            #
        </th>
        <th>
            Что-то
        </th>
        <th>
            Свойство
        </th>
        <th>
            Последний user
        </th>
        <th>
            Дата создания
        </th>
        <th>
            Дата изменения
        </th>
        <th>
        </th>
        <th>
        </th>
    </tr>
    {% for data in all_data: %}
        <tr>
        <th>
            {{ data.id }}
        </th>
        <th>
            {{ data.some_data }}
        </th>
        <th>
            {{ data.property }}
        </th>
        <th>
            {{ data.username }}
        </th>

        <th>
             {{ data.creation_datetime }}
        </th>
        <th>
            {{ data.update_datetime }}
        </th>
        <th>
            <a href="/db-change/master_data_template/edit_data/{{ data.id }}" class="btn btn-warning pull-right">
                Изменить</a>
        </th>
        <th>
            <form action="{{url_for('delete_data_from_md', data_id=data.id)}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="X" class="btn btn-danger">
            </form>
        </th>

    </tr>
    {% endfor %}
</table>

{% endblock %}